.product {
	display: flex;
	flex-direction: column;
	background-color: #CAE4DB;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
	padding: 20px;
	width: 100%;
	max-height: 400px;
	min-width: 500px;
	z-index: 1;
	/* border: 1 px solid gray; */
	border-radius: 0px;

	
}

.product > img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
	border-radius: 10px;
	
	
}

.product__info {
	height: 100px;
	margin-bottom: 15px;
}

.product__price {
	margin-top: 5px;
}

.product__rating {
	display: flex;
}

.product > button {
	background-color: #0F3057;
	border: 1px solid;
	margin-top: 5px;
	color: white;
	border-color:  #0F3057;
	padding: 8px;
	border-radius: 50px;
}